@use '/src/scss/base/' as *;

// new video call styles
.video-call-container {
	height: 100vh;
	background-color: $clr-dark;
	header {
		background-color: $white;
		height: 8vh;
		.control-icons {
			.recording {
				color: red;
			}
			.muted {
				color: gray;
			}
			.hidden {
				display: none;
			}
		}
		button {
			background-color: transparent;
			border: none;
			cursor: pointer;
		}
	}
	.video-call {
		transition: width 500ms ease-in-out;
		&.active {
			width: 75%;
			transition: width 500ms ease-in-out;
			// left: 0;
			.remote_video{
				width: 95%!important;
			}
		}
		.video-stream {
			width: 99%;
			margin-inline: auto;
			.video_container {
				// .video-description {
				// 	color: $clr-light;
				// }
				&.local {
					right: 1px;
					bottom: 0;
					z-index: 1;
					width: min(180px, 40%);
					aspect-ratio: 2/1;
					// border: 1px solid $clr-dark;
				}
				&.remote {
					.video-description {
						position: absolute;
						top: 2%;
						left: 2%;
					}
				}
				video {
					width: 100%;
					display: block;
					&.remote_video {
						height: 80dvh;
						// outline: 1px solid red;
						margin-block: 6vh;
						// object-fit: cover;
					}
				}
			}
		}
	}
	.control-tabs {
		&--content {
			width: 25%;
			.pane {
				top: 8vh;
				transform: translateX(101vw);
				background: hsl(0, 0%, 96%);
				height: 92%;
				width: 25dvw;
				// box-shadow: 0 2px 5px 3px hsla(0 0% 97% / 0.541);
				transition: transform 500ms ease;
				&.active {
					transform: translateX(75vw);
					transition: transform 500ms ease;
				}
			}
		}
	}
	
}

// chat styles
.chat-header {
	border-bottom: 1px solid $clr-secondary-light;
}
.chat-body {
	position: relative;
	// height: 73vh;
	overflow-y: auto;
	// border: 2px solid red;
	// &--messages{
	//     // background-color: rebeccapurple;
	// }
}
.msg__bubble {
	border-radius: 50px;
}
.cust__msg .msg__bubble {
	border-top-right-radius: 0;
	background-color: #909090;
}
.emp__msg .msg__bubble {
	border-top-left-radius: 0;
	background-color: #0089cf;
}
img.chat__avatar {
	width: 40px;
}
input {
	cursor: unset;
}
.form-control {
	/* border-color: transparent; */
	width: 90%;
	margin-inline: 5%;
	border-radius: 50px;
	border: 2px solid hsl(96deg, 100%, 41%);
	&:focus {
		/* border-color: transparent; */
		box-shadow: inset 0 0 2px 1px hsl(0, 0%, 63%);
	}
}
.divider {
	&::after,
	&::before {
		content: "";
		flex: 1;
		height: 1px;
		background: #eee;
	}
}
.send-icon {
	cursor: pointer;
	height: 25px;
	aspect-ratio: 1/1;
}
.icon {
	// display: unset;
	width: 25px;
	// filter: drop-shadow(0 0 3px hsla(0, 0%, 25%, 0.758));
}
.accordion-body p {
	font-size: 0.9rem;
}
.nav-link {
	color: $clr-dark
}
// .tab-pane {
// 	// overflow-y: auto;
// 	// height: 83vh;
// 	// min-height: 70vh;
// 	// background-color: blue;
// 	// &:nth-child(3){
// 	//     overflow-y: unset;
// 	//     height: unset;
// 	// }
// }
ul.nav-tabs {
	background-color: $clr-primary-light;
	// background-color: hsla($hue-secondary, $saturation-secondary, 71%, 0.5);
}
.accordion {
	&+.accordion {
		margin-top: 1rem;
	}
}
