<app-layout>
  <div class="main">
    <section id="carouselExampleFade" class="carousel slide carousel-fade">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="assets/img/Vanavihari-1.jpg"
            class="d-block w-100"
            alt="..."
          />
          <div class="carousel-overlay"></div>
          <div class="carousel-caption p-0">
            <h1 class="display-3">Vanavihari</h1>
            <p>
              Vanavihari resort, nestled in Maredumilli, is a haven for
              eco-tourism enthusiasts. This community-centric guesthouse offers
              a peaceful escape surrounded by nature.
            </p>
          </div>
        </div>
        <div class="carousel-item">
          <img
            src="assets/img/vanavihari-2.jpg"
            class="d-block w-100"
            alt="..."
          />
          <div class="carousel-overlay"></div>
          <div class="carousel-caption p-0">
            <h1 class="display-3">Vanavihari</h1>
            <p>
              Providing cozy cottages and rooms, it sits within easy reach of
              Maredumilli Waterfalls, ensuring guests enjoy a tranquil
              environment.
            </p>
          </div>
        </div>
        <div class="carousel-item">
          <img
            src="assets/img/JungleStar-1.jpg"
            class="d-block w-100"
            alt="..."
          />
          <div class="carousel-overlay"></div>
          <div class="carousel-caption p-0">
            <h1 class="display-3">Jungle Star</h1>
            <p>
              Jungle Star Eco Camp, managed by the Andhra Pradesh Forest
              Department, offers seven cottages atop a hillock, reachable only
              by a bridge.
            </p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="assets/img/jungle.jpeg" class="d-block w-100" alt="..." />
          <div class="carousel-overlay"></div>
          <div class="carousel-caption p-0">
            <h1 class="display-3">Jungle Star</h1>
            <p>
              This eco-friendly site provides adventure activities like treks
              and campfires, nestled deep in the unexplored Eastern Ghats.
            </p>
          </div>
        </div>
        <div class="carousel-item">
          <img
            src="assets/img/amruthadhara.jpg"
            class="d-block w-100"
            alt="..."
          />
          <div class="carousel-overlay"></div>
          <div class="carousel-caption p-0">
            <h1 class="display-3">Amruthadhara Falls</h1>
            <p>
              Amruthadhara falls a popular destination for nature lovers,
              especially during the monsoon season when the falls are at their
              most spectacular.
            </p>
          </div>
        </div>
        <div class="carousel-item">
          <img
            src="assets/img/Rampa-falls.jpg"
            class="d-block w-100"
            alt="..."
          />
          <div class="carousel-overlay"></div>
          <div class="carousel-caption p-0">
            <h1 class="display-3">Rampa Falls</h1>
            <p>
              In East Godavari's Agency track, discover Rampa V.S.S nestled in
              semi-evergreen forests, featuring Neelakanteswara and Rampa
              waterfalls.
            </p>
          </div>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleFade"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleFade"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </section>

    <section class="intro py-5">
      <div class="container">
        <p class="text-center border border-1 mb-0">
          Vanavihari, nestled in Maredumilli, is a haven for eco-tourism
          enthusiasts. This community-centric guesthouse offers a peaceful
          escape surrounded by nature. Providing cozy cottages and rooms, it
          sits within easy reach of Maredumilli Waterfalls, ensuring guests
          enjoy a tranquil environment. Delight in breakfast and dinner
          offerings, along with a relaxing stay at this charming retreat.
        </p>
      </div>
    </section>
    <section class="resort-intro my-5 py-5">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div
              class="card"
              style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)"
            >
              <img
                src="assets/img/Vanavihari-reception.jpg"
                class="card-img-top"
                alt="Vanavihari, Maredumilli"
              />
              <div class="card-body text-center">
                <h5 class="card-title">Vanavihari, Maredumilli</h5>
                <p class="card-text">
                  Vanavihari resort, nestled in Maredumilli, is a haven for
                  eco-tourism enthusiasts. This community-centric guesthouse
                  offers a peaceful escape surrounded by nature. Providing cozy
                  cottages and rooms, it sits within easy reach of Maredumilli
                  Waterfalls, ensuring guests enjoy a tranquil environment.
                  Delight in breakfast and dinner offerings, along with a
                  relaxing stay at this charming retreat.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div
              class="card"
              style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)"
            >
              <img
                src="assets/img/Jungle_Star-reception.jpg"
                class="card-img-top"
                alt="Jungle Star, Valamuru"
              />
              <div class="card-body text-center">
                <h5 class="card-title">Jungle Star, Valamuru</h5>
                <p class="card-text">
                  Jungle Star Eco Camp presents a distinctive island-like
                  setting, featuring seven cottages perched on a hillock and
                  accessed solely by a bridge. Administered by the Andhra
                  Pradesh Forest Department, it offers an eco-friendly adventure
                  with thrilling options such as treks and campfires. Nestled
                  deep within the uncharted Eastern Ghats, Jungle Star camping
                  site promises a one-of-a-kind overnight experience amidst
                  nature.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="search-rooms py-5">
      <div class="container">
        <h2 class="text-center mb-4">Search room avaibility</h2>
        <form>
          <div
            class="row align-items-center justify-content-around gap-3 gap-md-0"
          >
            <div class="col-md-3">
              <mat-form-field appearance="outline">
                <mat-label>Select Resort</mat-label>
                <mat-select required>
                  <mat-option value="VanaVihari, Maredumilli"
                    >Vanavihari, Maredumilli</mat-option
                  >
                  <mat-option value="Jungle Star, Valamuru"
                    >Jungle Star, Valamuru</mat-option
                  >
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field appearance="outline">
                <mat-label>Checkin & Checkout</mat-label>
                <mat-date-range-input [rangePicker]="picker">
                  <input matStartDate placeholder="Checkin date" />
                  <input matEndDate placeholder="Checkout date" />
                </mat-date-range-input>
                <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle
                  matIconSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
              </mat-form-field>
            </div>
            <div class="col-md-3 position-relative">
              <mat-form-field appearance="outline">
                <mat-label>Guests</mat-label>
                <!-- (click)="openGuestRoomSelect()" -->
                <input
                  type="text"
                  matInput
                  value="1 adult, 1 room"
                  data-bs-toggle="modal"
                  data-bs-target="#modalId"
                />
              </mat-form-field>
              <!-- Modal Body -->
              <!-- if you want to close by clicking outside the modal, delete the last endpoint:data-bs-backdrop and data-bs-keyboard -->
              <div
                class="modal fade position-absolute modal-searchbar"
                id="modalId"
                tabindex="-1"
                data-bs-backdrop="false"
                data-bs-keyboard="false"
                role="dialog"
                aria-labelledby="modalTitleId"
                aria-hidden="true"
              >
                <div
                  class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm"
                  role="document"
                >
                  <div class="modal-content">
                    <div class="modal-body">
                      <!-- Angular Material form fields for adults, children, rooms -->
                      <div class="form-group row">
                        <label for="adults" class="col-sm-4 col-form-label"
                          >Adults:</label
                        >
                        <div class="col-sm-8">
                          <div class="input-group">
                            <button
                              class="btn btn-outline-secondary"
                              type="button"
                              (click)="decrement('adults')"
                            >
                              -
                            </button>
                            <input
                              type="text"
                              id="adults"
                              name="adults"
                              class="form-control text-center"
                              [value]="adults"
                              readonly
                            />
                            <button
                              class="btn btn-outline-secondary"
                              type="button"
                              (click)="increment('adults')"
                            >
                              +
                            </button>
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="children" class="col-sm-4 col-form-label"
                          >Children:</label
                        >
                        <div class="col-sm-8">
                          <div class="input-group">
                            <button
                              class="btn btn-outline-secondary"
                              type="button"
                              (click)="decrement('children')"
                            >
                              -
                            </button>
                            <input
                              type="text"
                              id="children"
                              name="children"
                              class="form-control text-center"
                              [value]="children"
                              readonly
                            />
                            <button
                              class="btn btn-outline-secondary"
                              type="button"
                              (click)="increment('children')"
                            >
                              +
                            </button>
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="rooms" class="col-sm-4 col-form-label"
                          >Rooms:</label
                        >
                        <div class="col-sm-8">
                          <div class="input-group">
                            <button
                              class="btn btn-outline-secondary"
                              type="button"
                              (click)="decrement('rooms')"
                            >
                              -
                            </button>
                            <input
                              type="text"
                              id="rooms"
                              name="rooms"
                              class="form-control text-center"
                              [value]="rooms"
                              readonly
                            />
                            <button
                              class="btn btn-outline-secondary"
                              type="button"
                              (click)="increment('rooms')"
                            >
                              +
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="modal-footer">
                      <button
                        type="button"
                        class="btn btn-primary"
                        data-bs-dismiss="modal"
                      >
                        Done
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="col-md-auto">
              <mat-form-field appearance="outline">
                <mat-label>Rooms</mat-label>
                <input type="number" matInput placeholder="Choose number of Rooms">
              </mat-form-field>
            </div> -->
            <div class="col-auto">
              <button mat-raised-button color="primary">Search</button>
            </div>
            <!-- <div class="col-md-3 align-self-end">
              <a href="javascript:void(0)" (click)="triggerURL()" class="btn btn-primary">Test API</a>
            </div> -->
            <!-- <p class="test-res">Test Content</p> -->
          </div>
        </form>
      </div>
    </section>

    <!-- section for resorts -->
    <section class="resorts-intro d-none">
      <div class="container">
        <div class="row g-0">
          <div class="col-md-4">
            <div class="card d-lg-flex">
              <img
                src="assets/img/vanavihari_logo.png"
                class="card-img-top"
                alt="Card image cap"
              />

              <div class="card-body">
                <h5 class="card-title">Vanavihari, Maredumilli</h5>
                <p class="card-text">
                  Vanavihari resort, nestled in Maredumilli, is a haven for
                  eco-tourism enthusiasts. This community-centric guesthouse
                  offers a peaceful escape surrounded by nature. Providing cozy
                  cottages and rooms, it sits within easy reach of Maredumilli
                  Waterfalls, ensuring guests enjoy a tranquil environment.
                  Delight in breakfast and dinner offerings, along with a
                  relaxing stay at this charming retreat.
                </p>
                <!-- <a href="#" class="btn btn-primary">Action</a> -->
                <button mat-raised-button color="primary">View details</button>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card d-lg-flex">
              <img
                src="assets/img/vanavihari_logo.png"
                class="card-img-top"
                alt="Card image cap"
              />

              <div class="card-body">
                <h5 class="card-title">Vanavihari, Maredumilli</h5>
                <p class="card-text">
                  Vanavihari resort, nestled in Maredumilli, is a haven for
                  eco-tourism enthusiasts. This community-centric guesthouse
                  offers a peaceful escape surrounded by nature. Providing cozy
                  cottages and rooms, it sits within easy reach of Maredumilli
                  Waterfalls, ensuring guests enjoy a tranquil environment.
                  Delight in breakfast and dinner offerings, along with a
                  relaxing stay at this charming retreat.
                </p>
                <!-- <a href="#" class="btn btn-primary">Action</a> -->
                <button mat-raised-button color="primary">View details</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- testimonials -->
    <section class="testimonials">
      <div class="container mt-5">
        <h2 class="text-center mb-4">Guest Reviews</h2>
        <div
          id="testimonialCarousel"
          class="carousel slide"
          data-bs-ride="carousel"
        >
          <div class="carousel-inner">
            <div class="carousel-item active">
              <blockquote class="blockquote text-center">
                <p class="mb-0">
                  The resort was an absolute paradise! The staff was friendly,
                  the rooms were luxurious, and the amenities were top-notch. I
                  can't wait to come back!
                </p>
                <br />
                <footer class="blockquote-footer">John Doe</footer>
              </blockquote>
            </div>
            <div class="carousel-item">
              <blockquote class="blockquote text-center">
                <p class="mb-0">
                  Our family had a fantastic time at the resort. The kids loved
                  the pool, and we enjoyed the beautiful beach. The service was
                  exceptional, and we left with unforgettable memories.
                </p>
                <br />
                <footer class="blockquote-footer">Jane Smith</footer>
              </blockquote>
            </div>

            <!-- Add more carousel items as needed -->
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#testimonialCarousel"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#testimonialCarousel"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </section>
  </div>
</app-layout>
