<app-main-layout>
  <div class="main">
    <!-- <app-breadcrumbs></app-breadcrumbs> -->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item"><a class="text-primary text-decoration-none" (click)="goToDashboard()">Dasboard</a></li>
        <li class="breadcrumb-item active" aria-current="page">Requests assigned to me</li>
      </ol>
    </nav>
    <div class="bg-white">
      <h4 class="mb-0 main-title">Requests assigned to me</h4>
      <div class="px-3 px-sm-4 pb-4">
        <section class="dateRange row align-items-center mb-5 mb-md-0">
          <mat-form-field appearance="outline" class="custom-form-no-stretch">
            <mat-label>Start Date</mat-label>
            <input matInput [matDatepicker]="startDatePicker" FormControl="startDate">
            <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #startDatePicker></mat-datepicker>
          </mat-form-field>
          <mat-form-field appearance="outline" class="custom-form-no-stretch">
            <mat-label>End Date</mat-label>
            <input matInput [matDatepicker]="endDatePicker" FormControl="endDate">
            <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #endDatePicker></mat-datepicker>
            <mat-error *ngIf="dateRangeForm.hasError('dateRangeError')">
              End Date cannot be before Start Date.
            </mat-error>
          </mat-form-field>
          <div class="col-auto ms-auto ms-md-0">
            <button mat-raised-button color="primary">Submit</button>
          </div>
          <!-- <p>Selected range: {{range.value | json}}</p> -->
        </section>
        <section class="customerDataTable">
          <!-- filter -->
          <div class="row justify-content-end">
            <div class="col-sm-4 col-md-2 ms-auto">
              <mat-form-field appearance="outline">
                <mat-label>Filter</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
              </mat-form-field>
            </div>
          </div>
          <!-- mat datatable -->
          <div class="mat-elevation-z8 overflow-x-auto mw-100 my-4 my-md-3">
            <table mat-table [dataSource]="dataSource" matSort>
              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Customer name </th>
                <td mat-cell *matCellDef="let row"> {{row.name}} </td>
              </ng-container>
          
              <!-- Progress Column -->
              <ng-container matColumnDef="progress">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Progress </th>
                <td mat-cell *matCellDef="let row"> {{row.progress}} </td>
              </ng-container>
          
              <!-- Updated On Column -->
              <ng-container matColumnDef="updatedOn">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Updated on </th>
                <td mat-cell *matCellDef="let row"> {{row.updatedOn}} </td>
              </ng-container>
          
              <!-- Action By Column -->
              <ng-container matColumnDef="actionBy">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Action by </th>
                <td mat-cell *matCellDef="let row"> {{row.actionBy}} </td>
              </ng-container>
          
              <!-- Mobile No. Column -->
              <ng-container matColumnDef="mobileNo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Mobile no. </th>
                <td mat-cell *matCellDef="let row"> {{row.mobileNo}} </td>
              </ng-container>
          
              <!-- Appointment On Column -->
              <ng-container matColumnDef="appointmentOn">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Appointment on </th>
                <td mat-cell *matCellDef="let row"> {{row.appointmentOn}} </td>
              </ng-container>
          
              <!-- Account No. Column -->
              <ng-container matColumnDef="accountNo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Account no. </th>
                <td mat-cell *matCellDef="let row"> {{row.accountNo}} </td>
              </ng-container>
          
              <!-- Define the header row -->
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              
              <!-- Define the table rows -->
              <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="goToCustomerInfo()"></tr>
              
              <!-- Row shown when there is no matching data -->
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="7">No data matching the filter "{{input.value}}"</td>
              </tr>
            </table>
          </div>
          <!-- mat pagination -->
          <div class="row justify-content-end">
            <div class="col-sm-5">
              <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</app-main-layout>