<app-main-layout>
    <div class="main">
        <div class="dashboard__card-top">
            <h5 class="mb-4">Employee Portal Dashboard</h5>
            <h2 class="dashboard__card-top--title mb-1">Welcome Balachandiran B!</h2>
            <div class="dashboard__card-top--subtitle d-md-flex column-gap-3">
                <p class="mb-0"><strong>Last Login:</strong> 02 May 2023, 20:45:23 IST </p> 
                <p class="mb-0"><strong>Branch:</strong> VCIP Cell Mumbai</p>
                <p class="mb-0"><strong>Role:</strong> CPC Maker</p>
            </div>
            <!-- <img class=" position-absolute" src="/assets/images/sun-clouds.svg" alt=""> -->
        </div>
        <section class="dashboard__wrapper d-md-grid">
            <!-- Unassigned -->
            <article class="dashboard__card p-3 d-flex align-items-center justify-content-between "
                (click)="goToUserVerification()">
                <div class="dashboard__card-content">
                    <h6 class="content_title mb-0">Unassigned Requests</h6>
                    <h3 class="content_count mb-0 text-black">10</h3>
                    <!-- <p class="dashboard__card-content--info">5 new since last visit</p> -->
                </div>
                <img src="assets/images/icons/Unassigned_Request.svg" alt="Unassigned_Request"
                    class="dashboard__card-icon">
            </article>
            <!-- Completed -->
            <article class="dashboard__card p-3 d-flex align-items-center justify-content-between "
                (click)="goToUserVerification()">
                <div class="dashboard__card-content">
                    <h6 class="content_title mb-0">Completed Records</h6>
                    <h3 class="content_count mb-0 text-success">25</h3>
                    <!-- <p class="dashboard__card-content--info">3 completed today</p> -->
                </div>
                <img src="assets/images/icons/Completed_records.svg" alt="Completed_records"
                    class="dashboard__card-icon">
            </article>
            <!-- chart - task overview -->
            <article class="chart dashboard__card p-3">
                <h6 class="content_title mb-0">Task Overview</h6>
                <apx-chart 
                [series]="chartOptions.series" 
                [chart]="chartOptions.chart" 
                [labels]="chartOptions.labels" 
                [dataLabels]="chartOptions.dataLabels"
                [responsive]="chartOptions.responsive">
                </apx-chart>
            </article>
            <!-- Assigned -->
            <article class="dashboard__card p-3 d-flex align-items-center justify-content-between "
                (click)="goToUserVerification()">
                <div class="dashboard__card-content">
                    <h6 class="content_title mb-0">Assigned Requests</h6>
                    <h3 class="content_count mb-0 text-warning">05</h3>
                    <!-- <p class="dashboard__card-content--info">2 new since last visit</p> -->
                </div>
                <img src="assets/images/icons/Assigned_to_me.svg" alt="Assigned_to_me" class="dashboard__card-icon">
            </article>
            <!-- Rejected -->
            <article class="dashboard__card p-3 d-flex align-items-center justify-content-between "
                (click)="goToUserVerification()">
                <div class="dashboard__card-content">
                    <h6 class="content_title mb-0">Rejected Records</h6>
                    <h3 class="content_count mb-0 text-danger">08</h3>
                    <!-- <p class="dashboard__card-content--info">2 rejected today</p> -->
                </div>
                <img src="assets/images/icons/Rejected_Records.svg" alt="Rejected_Records" class="dashboard__card-icon">
            </article>
            <!-- Scheduled calls -->
            <article class="dashboard__card d-grid p-3" (click)="goToCallerDetails()">
                <section class="dashboard__card-content d-flex align-items-center justify-content-between">
                    <div class="col-auto">
                        <h6 class="content_title mb-0">Scheduled Calls</h6>
                        <h3 class="content_count mb-0 text-primary">02</h3>
                    </div>
                    <img src="assets/images/icons/Scheduled_calls.svg" alt="Scheduled_calls"
                        class="dashboard__card-icon w-auto col-md-auto">
                </section>

                <section class="d-flex flex-column justify-content-center column-gap-4">
                    <h6 class="font-weight-bold"><strong>Next call</strong></h6>
                    <!-- <img class="" src="assets/images/icons/video-call-icon.svg" alt="video-call-icon"> -->
                    <p class="dashboard__card-content--info mb-0 text-dark-emphasis"><span class="text-primary font-weight-bold">Rajesh</span><br>
                        13-06-2023, 12:30 PM</p>
                    <!-- <h5>Customer name: Rajesh</h5> -->
                </section>
                <section class="row row-gap-3 align-items-center">
                    <div class="col-auto">
                        <button mat-stroked-button color="secondary" (click)="goToCustomerInfo()">Go to customer
                            page</button>
                    </div>
                    <div class="col-auto">
                        <button mat-raised-button color="primary" (click)="goToCallerDetails()">View all calls</button>
                    </div>
                </section>
                <!-- <div class="dashboard__card-content d-flex  justify-content-between h-100">
                </div> -->
            </article>
        </section>
        <!-- <section class="summary clr-dark text-white min-vh-75 col-md-3 d-none d-md-block pt-3 border-3">
            <ul class="summary__list ">
                <li>Branch: Chennai</li>
                <li>Login time: 12.30pm</li>
                <li title="counter reducing">Session timeout in 5 mins</li>
            </ul>
            <ul class="mt-3">
                <li>You have assigned 2 requests in this session</li>
            </ul>
        </section> -->
    </div>
</app-main-layout>