<nav class="navbar navbar-expand-md px-2 px-md-4 py-0 fixed-top" id="header">
  <div class="container-fluid flex-nowrap">
    <a class="navbar-brand ms-5 ms-lg-0 py-0" (click)="goToDashboard()">
      <img class="logo" src="assets/images/logos/Kiya-Logo.svg" alt="Kiya-Logo">
    </a>
    <button class="navbar-toggler--aside position-absolute" type="button" aria-controls="sidebarToggler"
      aria-label="Toggle navigation" (click)="toggleSidebar()">
      <span class="navbar-toggler-icon"></span>

      <!-- <img class="icon" src="assets/images/logos/Kiya-Logo--icon.svg" alt="Kiya-Logo--icon"> -->
    </button>
    <div class=" navbar-collapse d-flex justify-content-between"> <!--collapse id="navbarTogglerDemo01" -->
      <!-- <h4 class="mb-0 ms-2 d-none d-sm-block">
          Employee Portal
          </h4> -->
      <ul class="navbar-nav align-items-center gap-1 ms-auto">
        <li class="nav-item">
          <a class="nav-link d-flex" (click)="toggleDarkTheme()">
            <img src="assets/images/icons/sun.png" alt="theme toggle sun icon">
          </a>
        </li>
        <!-- <li class="nav-item dropdown">
          <a class="nav-link d-flex gap-2 align-items-center" href="#" id="navbarDarkDropdownMenuLink" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            <span class="d-none d-md-block">Language</span>
            <img src="assets/images/icons/language.svg" alt="">
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
            <li><a class="dropdown-item" href="#">English</a></li>
            <li><a class="dropdown-item" href="#">Tamil</a></li>
            <li><a class="dropdown-item" href="#">Hindi</a></li>
            <li><a class="dropdown-item" href="#">Marathi</a></li>
          </ul>
        </li> -->
        <li class="nav-item dropdown">
          <a class="nav-link" id="notificationDropdown" role="button" aria-expanded="false"
            (click)="toggleNotificationList()">
            <img src="assets/images/icons/notification.png" alt="notification bell icon">
          </a>
          <ul class="dropdown-menu notification p-0 position-absolute bg-white border-0"
            aria-labelledby="notificationDropdown" [ngClass]="{'active':isNotificationDropdownActive}">
            <div class="notification__header d-flex align-items-center justify-content-between">
              <h6 class="notification__header-title mb-0 text-center">Notifications</h6>
              <img class="notification__header-img" src="assets/images/icons/email.png" alt="email">

            </div>
            <div class="notification__body">
              <div class="notification__body_list d-flex align-items-start gap-4" [ngClass]="{'active':isClearMsg}">
                <img class="notification__body_list-img flex-grow-1" src="assets/images/Profile-Picture.svg"
                  alt="Profile-Picture">
                <div class="notification__body_list-msg flex-grow-1">
                  <h6 class="notification__body_list-msg--title mb-0">
                    Maker
                  </h6>
                  <p class="notification__body_list-msg--content mb-1">
                    New request assigned
                  </p>
                  <small class="notification__body_list-msg--dateTime">
                    Sep 11, 10:01 AM
                  </small>
                </div>
                <div class="notification__body_list-action flex-grow-1 d-grid place-items-center gap-3">
                  <button class="btnToggleRead border-0 rounded-circle p-0" type="button" [ngClass]="{'read':isRead}" (click)="toggleRead()"></button>
                  <button class="btnClear border-0 bg-transparent p-0" type="button" (click)="clearMsg()">
                    <img class="" src="assets/images/icons/close.png" alt="email">
                  </button>
                </div>
              </div>
              <div class="notification__body_list d-flex align-items-start gap-4">
                <img class="notification__body_list-img flex-grow-1" src="assets/images/Profile-Picture.svg"
                  alt="Profile-Picture">
                <div class="notification__body_list-msg flex-grow-1">
                  <h6 class="notification__body_list-msg--title mb-0">
                    Maker
                  </h6>
                  <p class="notification__body_list-msg--content mb-1">
                    2 deleted requests
                  </p>
                  <small class="notification__body_list-msg--dateTime">
                    Sep 11, 10:01 AM
                  </small>
                </div>
                <div class="notification__body_list-action flex-grow-1 d-grid place-items-center gap-3">
                  <button class="btnToggleRead border-0 rounded-circle p-0" type="button"></button>
                  <button class="btnClear border-0 bg-transparent p-0" type="button">
                    <img class="" src="assets/images/icons/close.png" alt="email">
                  </button>
                </div>
              </div>
            </div>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" id="dropdownToggle" role="button" aria-expanded="false"
           (click)="dropdownToggle()">
            <img src="assets/images/icons/user.png" class="" alt="profile user icon">
            <!-- <span class="profile">
                          <h6 class="profile__name mb-0">Balachandiran B.S</h6>
                          <small class="role">Maker</small>
                      </span> -->
          </a>
          <ul class="dropdown-menu p-4 position-absolute " aria-labelledby="dropdownToggle" [ngClass]="{'active':isNavbarDropdownActive}">
            <h6 class="text-primary mb-0">Welcome! <strong>Balachandiran B</strong></h6>
            <small class="text-primary opacity-50">Last Login: 02 May 2023, 20:45:23 IST</small>
            <p class="mt-3 mb-2">Branch: VCIP Cell Mumbai </p>
            <p class="">Role: CPC Maker</p>
            <hr class="my-3">
            <a class="d-flex align-items-center gap-2 text-decoration-none" href=""><img
                src="assets/images/icons/logout.svg" alt="logout icon">Logout</a>
            <!-- <li><a class="dropdown-item" href="#">Last Login time: 10.20 am</a></li> -->
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>


<div class="wrapper">
  <section class="main__content">

    <aside class="sidebarToggler" [ngClass]="{'active':isSidebarActive}">
      <div class="sidemenu">
        <a class="sidemenu__link d-flex gap-3 px-4" (click)="goToDashboard()" [class.active]="isActive">
          <img src="assets/images/icons/Dashboard-icon.svg" alt="">
          <span>Dashboard</span>
        </a>
        <section class="accordion accordion-flush position-relative" id="accordionFlushExample">
          <div class="accordion-item">
            <h2 class="accordion-header mb-0" id="flush-headingOne">
              <button class="accordion-button collapsed d-flex gap-3 px-4" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                <img src="assets/images/icons/request-icon.svg" alt="">
                <span>Requests</span>
              </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
              data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <a class="accordion-body--link px-4 py-2 d-block active" (click)="goToUserVerification()">Unassigned
                  Requests</a>
                <a class="accordion-body--link px-4 py-2 d-block" (click)="goToUserVerification()">Assigned Requests</a>
                <a class="accordion-body--link px-4 py-2 d-block" (click)="goToCallerDetails()">Scheduled Video
                  Calls</a>
                <a class="accordion-body--link px-4 py-2 d-block" (click)="goToUserVerification()">Rejected Records</a>
                <a class="accordion-body--link px-4 py-2 d-block" (click)="goToUserVerification()">Completed Records</a>
              </div>
            </div>
          </div>
        </section>
        <a class="sidemenu__link d-block d-flex gap-3 px-4">
          <img src="assets/images/icons/settings-icon.svg" alt="">
          <span>Settings</span>
        </a>
        <a class="sidemenu__link d-block d-flex gap-3 px-4">
          <img src="assets/images/icons/help-icon.svg" alt="">
          <span>Help</span>
        </a>
        <!-- <section class="sidebar__bottom">
            <a class="sidemenu__link d-block d-flex gap-3 px-4" (click)="goToLogin()">
              <img src="assets/images/icons/help-blue.svg" alt="">
              <span>Logout</span>
            </a>
          </section> -->
      </div>
    </aside>
    <main class="page__content" [ngClass]="{'active':isPageContent75Width}">
      <!-- <h2 class="mb-0 d-sm-none text-center">
          Employee Portal
          </h2> -->
      <!-- page specific content -->
      <ng-content select=".main"></ng-content>
    </main>
  </section>

</div>
<app-footer></app-footer>