@use '/src/scss/base/' as *;


// details {
//     &.details {
//         &__basic {
//             img {
//                 width: 200px;
//             }
//         }
//     }
//     summary {
//         font-size: 1.2rem;
//     }
//     // .content {
//     //     border: 2px solid pink;
//     // }
//     // h5 {
//     //     // &:not(:first-child) {
//     //     //     margin-top: 2rem;
//     //     // }
//     // }
// }



.info-body {
    // font-size: 0.87rem;
    // &:nth-last-child(1){
    //     margin-bottom: 0;
    // }
}

// .gradient_card {
//     // background: linear-gradient(91.14deg, #BCE7FF 0.45%, #D0F3AC 50.98%);
//     // border-radius: 5px;

// }

img.rounded-circle{
    width: max(200px,60%);
    aspect-ratio: 1;
    object-fit: cover;
    box-shadow: 0 0 3px 0 rgba(36, 36, 36, 0.3);
    
}
.details_section {
    border-bottom: 1px solid hsla($hue-primary $saturation-primary 70% / 0.3);

    // &::before {
    //     position: absolute;
    //     content: '';
    //     /* background: red; */
    //     height: 100%;
    //     width: 100%;
    //     display: block;
    //     border: 2px solid $clr-neutral--200;
    //     top: 14px;
    //     padding-inline: 1rem;
    //     left: 0;
    //     border-radius: 5px;
    // }
}

// .details_title {
//     // background-color: $clr-primary-light;
//     // border-radius: 100px;
//     // border: 2px solid $clr-primary;
//     // padding: 0.25em 0.75em;
//     // width: max-content;
// }

.custom-form-stretch-50{
    @media(min-width:991px){
        flex: 1 0 50%!important;
    }
}
.btn-slot {
    font-size: 0.75rem!important;
    padding: 0.5em 1em!important;
    min-width: unset!important;
    width: unset!important;

    // width: 180px;
    // @media(min-width:768px){
    //     // width: min(7vw, 25%);
    //     flex: 0 0 30%;
    // }
    // @media(min-width:991px){
    //     // width: min(7vw, 25%);
    //     flex: 0 0 20%;
    // }
}

// .d-grid {
//     grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
// }