<header>
  <nav class="navbar navbar-light py-0 fixed-top bg-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" (click)="toggleSidebar()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand ms-auto ms-md-0 me-lg-auto" href="#">
        <img src="assets/img/vanavihari_logo.png" alt="vanavihari_logo">
      </a>
      <ul class="navbar-nav d-none d-lg-flex flex-lg-row gap-3">
        <li class="nav-item">
          <a class="nav-link" href="#">Book Resort</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="mailto:info@vanavihari.com" title="click to send email">
            <i class="fa-regular fa-envelope"></i>  info@vanavihari.com</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="tel:+919494151617" title="call">
            <i class="fa-solid fa-mobile-screen"></i> 9494151617</a>
        </li>
        <li class="nav-item" *ngIf="!isLoggedIn()">
          <a class="nav-link" routerLink="/sign-in" routerLinkActive="active" ariaCurrentWhenActive="page">Sign In</a>
        </li>
        <li class="nav-item dropdown" *ngIf="isLoggedIn()">
          <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">My Account</a>
          <div class="dropdown-menu position-absolute" aria-labelledby="dropdownId">
            <!-- nav item dropdown My Account>Settings, My Bookings, Saved -->
            <a class="dropdown-item" (click)="goToMyAccSettings()">Settings</a>
            <a class="dropdown-item" (click)="goToMyBookings()">My Bookings</a>
            <!-- <a class="dropdown-item" (click)="goToMyAccSettings">Saved</a> -->
            <a class="dropdown-item" (click)="logout()">Logout</a>
          </div>
        </li>
        
      </ul>
      <!-- <div class="collapse navbar-collapse justify-content-end">
      </div> -->
    </div>
  </nav>
  
  <div id="sidebar" [ngClass]="{ 'active': isSidebarOpen }">
    <div class="overlay" [ngClass]="{ 'active': isSidebarOpen }" ></div>
    <div class="overlay" [ngClass]="{ 'active': isSidebarOpen }" (click)="closeSidebar()"></div>

    <div class="sidebar-content">
      <!-- Sidebar content goes here -->
      <ul class="sidebar-menu list-unstyled"> 
        <li class="sidebar-item">
          <a class="sidebar-link d-lg-none" href="#">Book Resort</a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="#">About Us</a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="#">Tourist Destinations</a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="#">Tribal Community</a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="#">Gallery</a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="#footer">Contact Us</a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link d-lg-none" href="mailto:info@vanavihari.com" title="click to send email">
            <i class="fa-regular fa-envelope"></i>  info@vanavihari.com</a>

        </li>
        <li class="sidebar-item">
          <a class="sidebar-link d-lg-none" href="tel:+919494151617" title="call">
            <i class="fa-solid fa-mobile-screen"></i> 9494151617</a>
        </li>
        
        <li class="sidebar-item">
        <a class="sidebar-link d-lg-none" routerLink="/sign-in" routerLinkActive="active" ariaCurrentWhenActive="page">Sign In</a>
      </li>
      </ul>
      
    </div>
  </div>
  

</header>
<!-- End Header -->
<main>
  <ng-content select=".main"></ng-content>
</main>

<footer id="footer" class="bg-dark text-white py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3>Links</h3><br>
        <ul class="list-unstyled">
          <li><a class="text-decoration-none text-white" (click)="goToAboutUs()">About us</a></li>
          <li><a class="text-decoration-none text-white" href="#">Awards and News</a></li>
          <li><a class="text-decoration-none text-white" href="#">Privacy Policy</a></li>
          <li><a class="text-decoration-none text-white" href="#">Terms and Conditions</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h3>Contact Info</h3>
        <address>Co-ordinator(Complex Manager),<br>
          Community Based Eco-Tourism, <br>
          Maredumilli.
        </address>
        <ul class="list-unstyled">
          <li> <i class="fa fa-phone" aria-hidden="true"></i>&nbsp;
            <a class="text-decoration-none text-light" href="mailto:info@vanavihari.com"
              title="click to send email">info@vanavihari.com</a>
          </li>
          <li>
            <!-- font awesome email -->
            <i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;
            <a class="text-decoration-none text-light" href="tel:+919494151617" title="call">9494151617</a>
          </li>
        </ul>


      </div>
      <div class="col-md-4">
        <h3>Send a message</h3>
        <form class="contact-form">
          <div class="mb-2">
            <input type="text" class="form-control" placeholder="Your Name">
          </div>
          <div class="mb-2">
            <input type="email" class="form-control" placeholder="Your Email">
          </div>
          <div class="mb-2">
            <textarea class="form-control" placeholder="Your Message"></textarea>
          </div>
          <button type="submit" class="btn btn-light">Send Message</button>
        </form>
      </div>
    </div>
  </div>
</footer>